# S3 настройки
S3_ENDPOINT_URL=https://storage.yandexcloud.net
YC_CLEAN_BUCKET_AK=
YC_CLEAN_BUCKET_SK=
YC_CLEAN_BUCKET_PATH=s3a://mlops-2025/...
YC_REGISTRY_ID=
GITHUB_TOKEN=
GITHUB_REPO=
PRIVATE_KEY_PATH=./secrets/sa-key.json
YC_K8S_CLUSTER_ID=
YC_SA_JSON_CREDENTIALS=
